{% extends 'layout.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}

    <div class="jumbotron mt-5">

        <h1 class="display-4">Bienvenue sur Sortir.com</h1>

        <p class="lead mt-3 mb-5">Consultez, rejoignez et participez à des activités de groupe entre amis, collègues ou inconnus facilement et rapidement !</p>

        <hr class="my-4">

        <p>Voir les dernières sorties ?</p>

        <p class="lead">
            <a class="btn btn-success btn-lg" href="{{ path('app_login') }}" role="button">Se connecter</a>
        </p>

    </div>

{% endblock %}
