{% extends 'layout.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}

    <div class="jumbotron mt-5">

        <h1 class="display-4">Erreur 403</h1>

        <p class="lead mt-3 mb-1">Vous n'êtes pas autorisé à acceder à cette page.</p>
        <p class="lead mt-3 mb-1">Veuillez vous diriger vers la page d'accueil.</p>
        <p class="lead mt-3 mb-1">Cordialement.</p>

        <hr class="my-4">

        <img src="../img/meninblack.jpg" height="300px" alt="Responsive image">

    </div>

{% endblock %}
