{% extends 'layout.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}

    <div class="jumbotron mt-5">

        <h1 class="display-4">Erreur 404 !!</h1>

        <p class="lead mt-3 mb-1">- Qu’est ce que c’est ?</p>
        <p class="lead mt-1 mb-1">- Une 404...</p>
        <p class="lead mt-1 mb-1">- Et ça fait quoi ?</p>
        <hr class="my-4">

        <img src="../img/rambo.jpg" height="300px" alt="Responsive image">

    </div>

{% endblock %}
